:root{
    /* CSS HEX */
--alice-blue: #e7ecefff;
--yale-blue: #274c77ff;
--cerulean-frost: #6096baff;
--baby-blue-eyes: #a3cef1ff;
--battleship-grey: #8b8c89ff;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'BioRhyme', cursive;    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    padding: 30px;
    text-align: center;
    color: var(--yale-blue);

}
.header
{
    height: 120vh;
    background-image: /* linear-gradient(0deg, 
    rgba(32, 3, 11, 0.204) 0%, 
    rgba(30, 3, 5, 0.893) 100%),*/
    url("../img/hero.png");
    position: relative;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 81%,0 75%);
}
.text-box{
    position: absolute;
    top:35%;
    left:50%;
    color: white;
    transform: translate(-50%,-50%);
    text-align: center;
}

.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
    }
    .logo{
        height: 4.5rem;
    }
    .logo:hover{
        scale: 100px;
        transform: scale(1.5);
    }
    .heading{
        color: white;
        backface-visibility: hidden;
        margin-bottom: 6%;
        }
.main-heading{
    display: block;
    font-size:40px;
    font-weight: 400;
    letter-spacing: 30px;
    font-family: 'BioRhyme';
    }
    .sub-heading{
        display: block;
        font-size:15px;
        font-weight: 400;
        letter-spacing: 10px;
        font-family: 'BioRhyme';
    }
    .btn:link,
    .btn:visited{
        text-transform: uppercase;
        text-decoration: none;    
    
    }
    .btn:hover{
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(243, 236, 236, 0.358);
    }
    .btn:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(243, 236, 236, 0.358);
    
    }
    .btn-white{
    background-color: white;
    color: #777;
    padding: 10px 35px;
    display: inline-block;
    border-radius: 100px;
    transition: all .3s;
    }
.welcome{
    text-align: center;
    font-size: 30px;
}
.slider{
    font-size: 30px;
}